.gr-change{
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
    position: relative;
}
.gr-change span{
    color: #ffffff;
    background-color: red;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    
}
.gr-change:hover .gr-list{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.gr-list{
    position: absolute;
    width: 170px;
    z-index: 10000;
    background: #fff;
    /* background: red; */
    left: 0;
    /* top: 120%; */
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    border-top: 5px solid #fc3f00;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.gr-list li{
    padding: 4px 0px 4px 10px;
    display: block;
    font-weight: 500;
}

.gr-list li:hover{
    color: red;
}